# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/worldcup-stats-service

# Test binary
*.test

# Output of go coverage
*.out
.coverage/

# Go workspace
go.work
go.work.sum

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# temporary files
.temp/
.tmp/
temp/
tmp/
*.temp
*.tmp
